@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
  background-color: #000;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}


.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center; 
  padding: 15px;
}


.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


.action {
  flex-shrink: 0;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 15px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: #006FEE;
}

button:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: #005BC4;
}
.config{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #000;
  border-radius: 15px;
  position: absolute;
  top: 0px ;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: url('./wavy-lines.svg');
}

.icon-config{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #333;
  background-color: #1F1F21;
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

input::placeholder {
  color: #888;
}

input:focus {
  border: 1px solid #4c5baf;
  box-shadow: 0 0 10px rgba(76, 89, 175, 0.5);
}


@media (max-width: 720px) {
  .text {
    font-size: 28px;
  }
}